* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 237, 237);
}

/* HEADER */

.container-1 {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.interface {
    max-width: 1728px;
    margin: 10px 65px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    max-width: 60px;
    cursor: pointer;
    justify-content: flex-start;
}

header .title-desktop nav ul {
    list-style-type: none;
}

header .title-desktop nav ul a {
    text-decoration: none;
    color: #003c7c;
    font-size: 20px;
    font-family: Boldonse;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.download-btn {
    display: flex;
    align-items: center;
}

/* Botão de download alinhado à direita */
.download-btn a {
    text-decoration: none;
}

.download-btn button {
    background-color: #003c7c;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn button:hover {
    background-color: #001f47;
}

@media (max-width: 768px) {
    .interface {
        margin: 0 20px; 
        height: auto; 
    }

    .left-group {
        gap: 10px; 
    }

    .download-btn button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .interface {
        align-items: center; 
        text-align: center;
        gap: 10px;
        height: auto;
    }

    .left-group {
        gap: 5px;
    }

    .download-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .download-btn button {
        width: 80%;
    }
}

/* HEADER */

.container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.container-2 {
    text-align: justify;
    max-width: 55%;
    box-sizing: border-box;
}

.container-2 h2 {
    color: #003366;
    text-align: left;
    font-size: 35px;
}

.container-2 p {
    margin-top: 10px;
}

.img {
    flex-shrink: 0;
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.img img {
    width: 100%;
    height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .container-wrapper {
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .container-2 {
        max-width: 97%;
        margin-right: 0; 
    }

    .img {
        max-width: 80%;
    }

    .container-2 h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .container-wrapper {
        padding: 20px;
        gap: 10px;
    }

    .container-2 {
        max-width: 90%;
        margin-right: 0;
    }

    .img {
        max-width: 80%;
    }

    .container-2 h2 {
        font-size: 24px;
    }
}

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

#sobre-autismo {
    width: 100%;
    max-width: 1250px;
    text-align: justify;
    margin: 0 auto; 
}

#sobre-autismo h2 {
    color: #003366;
    padding-bottom: 50px;
    text-align: center;
}

#sobre-autismo p {
    text-align: justify;
    margin-bottom: 15px;
}

#link {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

#maisTexto {
    display: none;
}

@media (max-width: 768px) {
    .container-3 {
        padding: 50px 20px;
    }

    #sobre-autismo {
        max-width: 95%;
    }

    #sobre-autismo h2 {
        padding-bottom: 30px;
    }

}

@media (max-width: 480px) {
    .container-3 {
        padding: 20px 30px;
    }

    #sobre-autismo h2 {
        padding-bottom: 20px;
    }
}

#btnToggle {
    display: block;
    margin: 20px auto 0;
}

.container-4 {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

h1, h3, h2 {
    color: #003366;
}

.documentos-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 48%;
    text-align: left;
}

li {
    color: gray;
}

ul {
    padding-left: 20px;
}

#maisTexto {
    display: none;
}

.btn {
    background-color: #0056b1;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #007bff;
    box-shadow: 1px 1px 10px 1px gray;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

.container-fale-conosco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 60px;
}

.fale-conosco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 1155px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.info-contato {
    display: flex;
    align-items: center;
}

.icone-telefone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.texto-contato h3 {
    font-size: 1.2rem;
    color: #003366;
    margin: 0;
}

.texto-contato p {
    color: #666;
    margin: 0;
}

/* Redes sociais */
.redes-sociais {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
    text-align: center;
}

.redes-sociais h3 {
    font-size: 1.2rem;
    color: #003366;
    margin-right: 10px;
}

.redes-sociais a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #e3e3e3;
    border-radius: 8px;
    transition: 0.3s;
    padding: 5px;
}

.redes-sociais a:hover {
    background: #d1d1d1;
}

.icone-rede {
    width: 24px;
    height: 24px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .fale-conosco {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .info-contato {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    .icone-telefone {
        margin-bottom: 10px;
    }

    .redes-sociais {
        justify-content: center;
        gap: 8px;
    }

    .redes-sociais h3 {
        margin: 0 0 8px 0;
        width: 100%;
    }
}

.footer {
    background: #0055A4;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #0055A4;
}

.logo {
    height: 50px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background: #004080;
    padding: 10px;
    font-size: 14px;
}







